 <center><h1> CONTRAT DE LOCATION </h1></center>
<div><img src="{{ asset('images/Capture.PNG') }}" id="logo"alt="logo"></div>
<h2><fieldset>
<b>ENTRE LES SOUSSIGNES</b><br><br>
PREMIUM IMMOBILIER SA sise &agrave; CTIC DAKAR <br>
<pre>CI-APRES DENOMME                                                            <u>LE BAILLEUR </u>                                                                                        d'une part,

ET M. Mme, Melle ........
n&eacute;(e) le .........
demueurant .....

CI-APRES DENOMME                                                            <u>LE LOCATAIRE</u>                                                                                      d'autre part.
</pre>

</fieldset>
<br>
<pre><u>Il a été arrêt&eacute; et convenu ce qui suit :</u>  le bailleur loue les locaux et équipements, ci-après désignés, au locataire qui les acceptent aux 
conditions suivantes.
</pre>

<fieldset>
<b>DESIGNATION</b><pre>

Adresse des locaux lou&eacute;
...........

Consistance et d&eacute;signations des lieux :
................



</pre>

</fieldset>
</br></br>

<fieldset>

<b>DUREE</b><pre>

Le pr&eacute;sent contrat est consenti pour une durée de......................ans commençant à courir le ............................et se terminant le .................................sous 
réserve de reconduction ou de renouvellement.

</pre>
</fieldset>
</br></br>

<fieldset>

<b>CONDITIONS PARTICULIERES</b><pre>

<u><h3>Loyers et charges</h3></u>
Le loyer est payable mensuellement (1) , trimestriellement (1) d’avance au domicile du bailleur ou de son mandataire.
Le montant du loyer initial est fixé à la somme de (en toutes lettres)...........................................................................................
plus les taxes récupérables et une provision sur charges initiales de (en toutes lettres)...............................................................................................................................................
Il est rappelé que la provision sur charges est révisable chaque année en fonction des dépenses réelles. 
Le loyer sera automatiquement révisé le ..................................................., de chaque année pour tenir
compte de la variation de la moyenne des 4 indices trimestriels de référence des loyers publié par l’INSEE ; moyenne sur les 12 derniers mois, 
des évolutions des prix à la consommation hors tabac et hors loyers.
L’indice de référence est celui du ..................trimestre de l’année................... d’une valeur de ...............
<u><h3>Depot de garantie </h3></u>
Le dépôt de garantie est fixé à la somme de (en toutes lettres)............................................................................................correspondant à un mois 
de loyer hors charges.
<u><h3>Clause des travaux</h3></u>
Le locataire (1) propriétaire (1) exécutera les travaux ci-après décrits :....................................................................................................................................................................................................
...............................................................................................................................................
En conséquence de quoi, le loyer sera minoré (1) majoré (1) de ............................................................pendant ............mois.




<u><h3>Clause particuli&eacute;re</h3></u>
....................................................................................................................................................................................
....................................................................................................................................................................................

</pre>
</fieldset>
<br>
<pre>
En annexe du présent contrat, les parties reconnaissent avoir remis ou reçu :
<input type="checkbox"  /> Un état des lieux dressé lors de la remise des clés
<input type="checkbox"  /> Le dossier de diagnostic technique (diagnostic de performance énergétique, constat de risque
d’exposition au plomb, l’état des risques naturels et technologiques dans les zones I de l’article 125-5 du
code de l’environnement (1) )
<input type="checkbox"  /> Les extraits du règlement de copropriété lorsque l’immeuble est soumis au statut de la copropriété
<input type="checkbox"  /> Une liste des loyers de référence
<input type="checkbox"  /> L’information sur les modalités de réception des services de télévision dans l’immeuble
<input type="checkbox"  /> Un acte de caution solidaire
-Clé(s) remises :................
Rayés nuls : .........................mots........................lignes
Fait et signé à............ ................................................... le..........................................en .........................................originaux dont un remis 
à chacune des parties qui le reconnaît.
<br>

LE BAILLEUR                                                                                 LE(S) LOCATAIRES                                                                  LA CAUTION
(Signature(s) précédée(s)                                                             (Signature(s) précédée(s)                                                         (Signature(s) précédée(s)                                           
de la mention manuscrite                                                               de la mention manuscrite                                                       de la mention manuscrite
« Lu et approuvé »)                                                                      « Lu et approuvé »)                                                                       « Lu et approuvé ») 

<h2>