 <center><h1> CONTRAT LOCATION </h1></center>


 Un '''contrat''' est un accord de volonté en vue de créer une ou des obligations juridiques. C'est un engagement volontaire, formel ou informel, seul ou entre plusieurs parties et reconnu par le droit. 

