{% extends 'PremiumBundle::acceuil.html.twig' %}
{% block title %}PremiumBundle:Front:Catalogue{% endblock %}

{% block slide %}
    <div>
        <br><br>
    </div>
{% endblock %}
{% block recherche %}
{% endblock %}

{% block apropos %}

{% endblock %}
{% block partenaires %}

{% endblock %}
{% block galerie %}

{% endblock %}


{% block form %}

{% endblock %}